
    <nb-layout>
      <nb-layout-header class="ngxlogoheader">
        <ngx-logo-header></ngx-logo-header>
      </nb-layout-header>
      <nb-layout-header class="ngxuserheader">
        <ngx-user-header></ngx-user-header>
      </nb-layout-header>
      <nb-layout-column class="colored-column-basic">
         <router-outlet></router-outlet>
      </nb-layout-column>
      <nb-layout-footer class="footer">
       <ngx-user-footer></ngx-user-footer>
      </nb-layout-footer>
    </nb-layout>




