<div class="container-fluid mx-auto px-6 footerContent" style="padding-bottom:0px;padding-top:0px">
    <div class="flex row place-content-center" style="justify-content: space-between; flex-wrap: nowrap;align-items: center;">
      
      <img src='assets/images/footerImages/UNIQUESLND_footer1.png' alt="University Queensland" class="object-scale-down-footer">
      <img src='assets/images/footerImages/QIMR_footer2.png' alt="QMIR" class="object-scale-down-footer">
      <img src='assets/images/footerImages/UQIDAR_footer3_new.png' alt="UQIDAR" class="object-scale-down-footer" style="max-width: 17% !important;">
      <img src='assets/images/footerImages/IITD_footer4.png' alt="UQIDAR" class="object-scale-down-footer" style="max-width: 7% !important;">
      <img src='assets/images/footerImages/PMRF_logo_footer5.png' alt="PMRF" class="object-scale-down-footer"style="min-width: 36% !important;">
    </div>
    <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center" style="border-top: 2px solid rgb(209, 213, 213,1) !important;margin-top: 54px !important;padding: 24px 0px !important;">
      <div class="sm:w-2/3 text-center py-6">
        <p class="text-sm font-bold mb-2" style="color: rgb(251, 111, 146);">
          Copyright © 2024 Nguyen Lab
        </p>
        <p class="text-sm font-bold mb-2" style="color: rgb(251, 111, 146);">
          This project was led by the Nguyen <a target="_blank" href="https://imb.uq.edu.au/research-groups/nguyen"
            style="color: rgb(30, 144, 255);">Genomics and Machine Learning Lab</a> at the
          <a target="_blank" href="https://imb.uq.edu.au/" style="color: rgb(30, 144, 255);">Institute for Molecular
            Bioscience</a>,<br> University of Queensland, Australia
        </p>
      </div>
    </div>
  </div>
