<div class="container-fluid mx-auto px-6 footerContent" style="padding-bottom:0px;padding-top:0px">
    <div class="flex row place-content-center" style="justify-content: center !important;"><img src='../../assets/images/footerImage.png' alt="IMB_logo"
        class="object-scale-down w-96"></div>
    <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center" style="border-top: 2px solid rgb(209, 213, 213,1) !important;margin-top: 54px !important;padding: 24px 0px !important;">
      <div class="sm:w-2/3 text-center py-6">
        <p class="text-sm font-bold mb-2" style="color: rgb(251, 111, 146);">
          Copyright © 2022 Nguyen Lab
        </p>
        <p class="text-sm font-bold mb-2" style="color: rgb(251, 111, 146);">
          This project was led by the Nguyen <a target="_blank" href="https://imb.uq.edu.au/research-groups/nguyen"
            style="color: rgb(30, 144, 255);">Genomics and Machine Learning Lab</a> at the
          <a target="_blank" href="https://imb.uq.edu.au/" style="color: rgb(30, 144, 255);">Institute for Molecular
            Bioscience</a>,<br> University of Queensland, Australia
        </p>
      </div>
    </div>
  </div>
