.bcontent {
  font-size: 16px !important;
  font-weight: normal !important;
  color: #6b7280 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;700&display=swap');
* {
  font-family: 'Exo 2' !important;
}

.aboutContent {
  line-height: 1.6;
}
